      - name: Commit and Push
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add international_tv.m3u
          git diff --quiet && git diff --staged --quiet || (git commit -m "Update International TV List" && git push)
