      - name: Commit and Push
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add 4gtv.m3u
          git diff --quiet && git diff --staged --quiet || (git commit -m "Sync original 4gtv.m3u" && git push)
