name: Sync My Classified IPTV

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Download and Classify
        run: |
          # 台灣頻道
          curl -L -o "Taiwan_TV.m3u" "https://raw.githubusercontent.com/YueChan/Live/main/IPTV.m3u" || true
          
          # 泰國頻道
          curl -L -o "Thailand_News.m3u" "https://raw.githubusercontent.com/abusaeeidx/IPTV-Scraper-Zilla/main/Thailand.m3u" || true
          
          # 香港頻道
          curl -L -o "HK_News.m3u" "https://raw.githubusercontent.com/abusaeeidx/IPTV-Scraper-Zilla/main/Hong_Kong.m3u" || true
          
          # 體育頻道
          curl -L -o "Nowsports.m3u" "https://raw.githubusercontent.com/ediart/tvbox/refs/heads/main/TVBoxOSC/tvbox/sports.m3u" || true
          
          # 綜合頻道
          curl -L -o "StarHub_General.m3u" "https://raw.githubusercontent.com/AbidUrsa/StarHubPlaylist/refs/heads/main/StarHub.m3u" || true

      - name: Commit and Push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add *.m3u
          if git diff --cached --quiet; then
            echo "No changes."
            exit 0
          fi
          git commit -m "Auto update IPTV"
          git remote set-url origin "https://x-access-token:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git"
          git push origin HEAD:main
