name: Auto Update 4GTV

on:
  schedule:
    - cron: "0 * * * *"   # 每 6 小時一次
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Download 4gtv.m3u
        run: |
          curl -L https://raw.githubusercontent.com/judy-gotv/iptv/main/4gtv.m3u -o 4gtv.m3u

      - name: Commit and push if changed
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

          if git diff --quiet; then
            echo "No change"
          else
            git add 4gtv.m3u
            git commit -m "Auto update 4gtv.m3u"
            git push
          fi